<% provide :title, t("static_pages.about.title") %>
<h1><%= t "static_pages.about.title" %></h1>
<p>
  <%= t(".text_p_1", link_railst: link_to(t(".text_link_railst"), "http://www.railstutorial.org/"), link_book: link_to(t(".text_link_book"), "http://www.railstutorial.org/"), link_screen: link_to(t(".text_link_screen"), "http://screencasts.railstutorial.org/"), link_rails: link_to(t(".text_link_rails"), "http://rubyonrails.org/")).html_safe %>.
</p>
<p>
  <%= t ".text_p_2" %>.
</p>

