<% provide :title, t("static_pages.help.title") %>
<h1><%= t "static_pages.help.title" %></h1>
<p>
  <%= t "static_pages.help.text_p" %>
  <%= link_to t("static_pages.help.link_to_help"), "http://www.railstutorial.org/book" %>
</p>
