<% provide :title, t("static_pages.home.title") %>
<h1><%= t "static_pages.home.text_heading" %></h1>
<p>
  <%= t "static_pages.home.text1" %> <%= link_to t("static_pages.home.text_link"), "http://www.railstutorial.org" %> <%= t "static_pages.home.text2" %>.
</p>
